<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>清单</title>
    <style>
        *{
            font-size: 50px;
        }
    </style>
</head>
<body>
    <div id="app">
        <ul>
            <!-- 这里用 v-for 渲染商品 -->

            <li v-for="todo in todos" :key="todo.id">
                {{ todo.text }} : [{{ todo.done ? "完成" : "未完成" }}]
                <p v-if="loading">加载中。。。</p >
                <button @click="toggle(todo.id)">切换</button>
            </li>
        </ul>
    </div>
</body>
<script src="vue.js"></script>
<script>
    new Vue({
        el: '#app',
        data: {
            todos: [],
            loading:false
        },
        created() {
            const saved = localStorage.getItem('todos')
            if (saved) {
                this.todos = JSON.parse(saved)
            } else {
                this.todos = [
                    {id: 1, text: '上课', done: false},
                    {id: 2, text: '吃饭', done: false},
                    {id: 3, text: '拿快递', done: false},
                ]
            }
        },
        methods: {
            toggle(id) {
                const todo = this.todos.find(e => e.id === id)
                    this.loading = true
                if (todo) {
                    todo.done = !todo.done
                    this.save()
                }
            },
            save() {
                localStorage.setItem('todos', JSON.stringify(this.todos))
                this.loading = false
            }
        }
    })
</script>
</html>
